/* .box1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



.box1{
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
   margin-left: 600px;
   margin-top: 150px;
width: 300px;
height: 250px;
position: absolute;
background-color:rgb(189, 76, 76);
}



.box1 .icon{
    margin-top: 80px;
    text-align: center;
    color: white;
    font-size: 80px;
    margin-left: 100px;
}
 

.box2{
    margin-top: 450px;
    margin-left: 400px;
    width: 700px;
    height: 250px;
    position: absolute;
    background-color:white;
}
h1{
    margin-left: 150px;
}
h2{
    margin-left: 100px;
}

